1 . load this data in sql and in pandas with a relation in sql

In [1]:
import pandas as pd

In [8]:
returnsDf = pd.read_excel("Superstore_USA.xlsx", 
                        sheet_name = 'Returns')

OrdersDf = pd.read_excel("Superstore_USA.xlsx", 
                        sheet_name = 'Orders')
UsersDf = pd.read_excel("Superstore_USA.xlsx", 
                        sheet_name = 'Users')

In [9]:
returnsDf.head()

   Order ID    Status
0        65  Returned
1       612  Returned
2       614  Returned
3       678  Returned
4       710  Returned

In [10]:
OrdersDf.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [11]:
UsersDf.head()

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

3 . Find out how return that we ahve recived and with a product id

In [19]:
pd.merge(OrdersDf[['Product Name','Order ID']],returnsDf[['Order ID']],  on=['Order ID'])

                                         Product Name  Order ID
0               Dixon My First Ticonderoga Pencil, #2      9895
1                                           Avery 493     13959
2                               EcoTonesÂ® Memo Sheets     13959
3                                           Newell 35     36038
4                   Staples SlimLine Pencil Sharpener     39490
..                                                ...       ...
93  Snap-A-WayÂ® Black Print Carbonless Ruled Speed...      7107
94  Recycled Steel Personal File for Standard File...      7107
95                                         Xerox 1980     42823
96                                   TDK 4.7GB DVD+RW     13638
97                        SAFCO Folding Chair Trolley     47109

[98 rows x 2 columns]

4. try  to join order and return data both in sql and pandas

In [21]:
pd.merge(OrdersDf,returnsDf,  on=['Order ID'])

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned

5. Try to find out how many unique customer that we have

In [23]:
list(OrdersDf['Customer Name'].unique())

['Janice Fletcher',
 'Bonnie Potter',
 'Ronnie Proctor',
 'Dwight Hwang',
 'Leon Gill',
 'Melanie Garner',
 'Lorraine Houston',
 'Meredith Norris Thomas',
 'Marcus Dunlap',
 'Kara Pace',
 'Gwendolyn F Tyson',
 'Timothy Reese',
 'Sarah Ramsey',
 'Florence Hsu Schwarz',
 'Laurie Hanna',
 'Jim Rodgers',
 'Marion Nolan Kaplan',
 'Tony Wilkins Winters',
 'Lynn Moss',
 'Edna Thomas',
 'Virginia Hardison',
 'Marguerite Kane',
 'Guy Gallagher',
 'Ronnie McNamara',
 'Elizabeth Walker',
 'Alice Capps',
 'Matthew Berman',
 'Ricky Hensley',
 'Milton Bland',
 'Ray Morgan',
 'Stacy Chandler',
 "Ian L O'Donnell",
 'Seth Grimes',
 'Alexandra Fuller',
 'Theodore Moran',
 'Melinda Sloan',
 'Anne Nguyen',
 'Geoffrey Hewitt',
 'Terri Lyons',
 'Dawn Bailey',
 'Lorraine Kelly',
 'Sidney Russell Austin',
 'Marvin Hawley',
 'Randall Montgomery',
 'Kimberly Epstein',
 'Rose Lassiter',
 'Sheila Warren',
 'Charlotte Stanton',
 'Pam Gilbert',
 'Gene Diaz',
 'Lynn Morrow',
 'Jenny Sanchez',
 'Arlene Rouse',
 'Ellen McCormick',
 'Scott Bunn',
 'Carrie House',
 'Annette Boone',
 'Amanda Hardy Singleton',
 'April Winters',
 'Mark Manning',
 'Tamara Yates',
 'Glen Weeks',
 'Jan Kaufman Parrish',
 'Hannah Grant',
 'Sam Carlson',
 'Dale Hahn',
 'Edgar Stone',
 'Helen Stein',
 'Hazel Graham',
 'Norman Shields',
 'Phillip Clapp',
 'Katie Watson',
 'Wallace Werner',
 'Victoria Baker Hoover',
 'Vicki Shannon',
 'Eddie House Mueller',
 'Kristin Hunt',
 'Vincent Lindsay',
 'Max McKenna',
 'Sarah Cooke Anthony',
 'Theresa Hansen',
 'Monica Daly',
 'Claudia Boyle',
 'Caroline Johnston',
 'Alexander Hendricks',
 'Annette Ferrell',
 'Oscar Monroe',
 'Harry Faulkner',
 'Lois Hamilton',
 'Fred Sharma',
 'Tom McFarland',
 'Stanley Kessler',
 'Claire Quinn',
 'Louis Adkins',
 'Kathryn Norton',
 'Ron Newton',
 'Dwight M Carr',
 'Frances Grant',
 'Linda Weiss',
 'Judy Kennedy',
 'Helen H Murphy',
 'Miriam Proctor',
 'Shawn Stern',
 'Linda Faulkner',
 'James Osborne',
 'Ross Wang Bates',
 'Kara Allison',
 'Norman Owens',
 'Ron Dillon',
 'Gayle Keith',
 'Natalie Raynor',
 'Dale Gillespie',
 'Kristen Hinton',
 'Kevin Schmidt',
 'Elsie Hewitt',
 'Toni Daly',
 'Brooke Weeks Taylor',
 'Leigh Ivey',
 'Marguerite Moss',
 'Rhonda Ivey',
 'Yvonne Fox',
 'Bryan Pate',
 'Sidney Cox',
 'Stuart Chan',
 'Geoffrey Zhu',
 'Kent Kerr',
 'Glenda Rosen',
 'Marion Jordan',
 'Diana Xu',
 'Terry Benson',
 'Gail Welch',
 'Edgar Oakley',
 'Erin Erickson',
 'Jeff Bunn',
 'Robin Kramer Vaughn',
 'Vicki Hauser',
 'Carla Braun',
 'Janice Cole',
 'Christopher Carlton',
 'Christina Matthews',
 'Norman Sawyer',
 'Amanda Huang',
 'Angela Bernstein',
 'Brent Walters',
 'Sheryl Alexander',
 'Harold Briggs',
 'Wesley Waller',
 'Ryan Mann',
 'Dan Carver',
 'Phillip Holmes',
 'Carolyn Blackwell',
 'Johnny Finley',
 'Yvonne Faircloth',
 'Alex Harrell',
 'Lloyd Norris',
 'Gerald Kearney',
 'Danny Hong',
 'Tammy Goldman',
 'Jason Knox',
 'Holly Chu',
 'Samantha Weaver',
 'Leroy Blanchard',
 'Martha Pridgen',
 'Max Small',
 'Bob Epstein',
 'Priscilla Owen',
 'Toni Olsen',
 'Tammy Brandon',
 'Floyd Dale',
 'Anna Wood',
 'Milton Clarke',
 'Jose Gates Rodriguez',
 "Vicki O'Donnell",
 'Tonya B Horne',
 'Billy Odom',
 'Frances Saunders',
 'Jacob Kirby',
 'Colleen Wilcox',
 'Joe Nicholson',
 'Evan Currie',
 'Hazel Britt',
 'Heather Fleming',
 'Stacey Glenn',
 'Colleen Andrews',
 'Jack Horne',
 'Sandy Holmes',
 'Michele Bullard',
 'Don Cameron',
 'Shawn McIntyre',
 'Amanda Helms',
 'Tamara Fischer',
 'Gilbert Scarborough',
 'Amy Ellis Holder',
 'Betsy Hendricks',
 'Marie Fitzgerald',
 'Julie Pruitt',
 'Marshall Brandt Briggs',
 'Anthony Han',
 'Brenda Nelson Blanchard',
 'Joann Davidson Rich',
 'Steven McDowell',
 'Brett Hawkins',
 'Cheryl Curtis',
 'Irene Li',
 'Allan Shields',
 'Edward Pugh',
 'Brenda Gonzalez',
 'Leah MacDonald',
 'Carlos Hess',
 'Erik Harmon',
 'Ross Frederick',
 'Marilyn Blalock',
 'James Beck',
 'Calvin Boyette',
 'Robyn White',
 'Sam Rouse',
 'Eleanor Swain',
 'Valerie Rice',
 'Roger Blalock Cassidy',
 'Lucille Rankin',
 'Hazel Herman',
 'Marc Hoover',
 'Kevin Melvin',
 'Greg Walsh',
 'Fred H Proctor',
 'Vickie Andrews',
 'Pauline Boyette',
 'Jerome Cummings',
 'Virginia Gay',
 'Bruce Norton',
 'Patricia Cole Blair',
 "Sara O'Connor",
 'Norma Oliver',
 'Brian Meadows',
 'Rose Reed',
 'Gloria Quinn',
 'Seth Rosenberg',
 'Stacy Price',
 'Eugene Terrell',
 'Joshua Underwood',
 'Larry W Lehman',
 'Valerie Whitfield',
 'Bill Bowers Li',
 'Alexandra Duke',
 'Gayle Christian',
 'Thomas McAllister',
 'Roy Love',
 'Glen Caldwell',
 'Florence Clayton',
 'Caroline Ingram',
 'Ruth Stout',
 'Ruby Gibbons',
 'Benjamin Kaufman',
 'Katherine Kearney',
 'Timothy Barker',
 'Jenny Henry',
 'Arthur Lowe Nash',
 'Regina Kelley',
 'Lester Stuart',
 'Brenda May',
 'Sherri McKinney',
 'Faye Dyer',
 'Victoria Reed',
 'Bradley Pollock',
 'Rhonda Cummings',
 'Karl Holloway',
 "Curtis O'Connell",
 'Emma Sparks',
 'Jonathan Cheng',
 'Bobby Clements',
 'Wanda Link Fuller',
 'Donna Ross',
 'Jacqueline Noble',
 'Lynn Epstein',
 'Rosemary English',
 'Theresa Haynes',
 'Walter Jensen',
 'Alexandra Lambert',
 'Justin Kennedy',
 'Kim Weiss',
 'Holly Carey',
 'Juanita Coley Knox',
 'Bonnie Chambers',
 'Joanna Hill',
 'Grace Vaughn',
 'Barbara McNamara',
 'Chris F Brandt',
 'Lindsay Shepherd',
 'Veronica Francis',
 'Warren Gibbs',
 'Erica Lyon',
 'Evan Snow',
 'Chris Bernstein',
 'Patrick Rosenthal',
 'Richard Keller',
 'Troy Moon',
 'Sam Oh',
 'Roberta Mullins Peters',
 'Doris Tyson',
 'Jeanne Werner',
 'Kathy Cooke',
 'Sandra Sharma',
 'Sylvia Bush',
 'Cindy Ennis',
 'Marian Bryant',
 'Danielle Watts',
 'Wesley Dudley',
 'Renee Alston',
 'Jose High',
 'Sue Nichols',
 'Angela Howe',
 'Roger Schwartz',
 'Joel Buckley',
 'Suzanne Shannon',
 'Erica R Fuller',
 'Shawn Combs',
 'Kristin Simpson',
 'Monica McCormick',
 'Denise Carver',
 'Bruce Stark',
 'Sheryl Law',
 'Teresa Brewer',
 'Andrew Todd',
 'Toni Christian',
 'Laura Carver Branch',
 'Ricky Hess',
 'June Frank Hammond',
 'Calvin Parsons Walter',
 'Diane Shah',
 'Carolyn Proctor',
 'Paige Bowden',
 'Mildred Mullen',
 'Terry Christian',
 'Jimmy Woodward',
 'Mike Pollard',
 'Lester Cho',
 'Amy Hale',
 'Bernard Block Petersen',
 'Scott Feldman',
 'Gretchen Zimmerman',
 'Alexander Baker',
 'Marion Kaplan',
 'Marc Cochran',
 'Annie McLaughlin',
 'Ernest Barber',
 'Harvey Barrett',
 'Claude Meyer',
 'Peter Creech',
 'Brenda Klein',
 'Melinda Ross',
 'Elisabeth Bullock',
 'Lauren Lanier',
 'Alice Berger McIntyre',
 'Edwin Winters',
 'Jay Parker',
 'Cheryl Lester Coley',
 'Jack Durham',
 'Chris High',
 'Thelma Abrams',
 'Judy Barrett',
 'Valerie Moon',
 'Maria B Hanna',
 'Arlene Poe',
 'Joyce Murray',
 'Leslie Rowland',
 'George Terry',
 'Gayle Waller',
 'Jessica Garcia',
 'Eugene Womble',
 'Dan Barton',
 'Leslie Patton Combs',
 'Gail B Weinstein',
 'Anne Armstrong',
 'Glenn Jones',
 'Debbie Stevenson',
 'Patrick Rhodes',
 'Ricky Johnston',
 'Marc Nash',
 'Maria Thomas',
 'Craig Bennett',
 'Marion Bowling',
 'Tony Doyle',
 'Ross Simpson',
 'Donna Craven',
 'Rita Kahn Ward',
 'Rita Spivey',
 'Julian Skinner',
 'Randall Schneider',
 'Michael Wiggins',
 'Tim Moore',
 'Max Ross Finch',
 'Marion Stephenson',
 'Edgar McKenzie',
 'Edward Leonard',
 'Tracey Gross',
 'Molly Vincent',
 'Ronnie Creech',
 'Eileen Cheek',
 'Jeff Lassiter',
 'Toni Swanson',
 'Courtney Weber',
 'Douglas Buck',
 'Jimmy Alston Holder',
 'Douglas Gay',
 'Steve McKee',
 'Anne Coates',
 'Brenda Cowan',
 'Jacob Duncan',
 'Jeanne Woodruff',
 'Neil Arnold Kidd',
 'Teresa Boyette',
 'Carol Saunders',
 'Cameron Owens',
 'Gregory Rao',
 'Zachary Wu',
 'Tim Joseph Dennis',
 'Annette Sharpe',
 'Meredith Brandon',
 'Rosemary Foster',
 'Kristine Powell',
 'Mark Ritchie',
 'Beverly Keith',
 'Donald Montgomery',
 'Aaron Riggs',
 'Gina McKnight',
 'April Hu',
 'Victor Stevens',
 'Martha Jenkins',
 'Ian Bean',
 'Raymond Hampton',
 'Jamie Dixon',
 'Geoffrey Ayers',
 'Jill Clements',
 'Nelson Coley',
 'Alice Coley',
 'Ruth Lamm',
 'Jim Shah',
 'Theodore Goldstein',
 'Doris Starr',
 'Pam Francis',
 'Henry Ball',
 'Dennis Boykin Townsend',
 'Edna Monroe Talley',
 'Peggy Chan',
 'Roger Liu',
 'Kristine Connolly',
 'Lillian Baldwin',
 'Walter Young',
 'Kristina Sanders',
 'Lucy Pennington',
 'Harvey McDonald',
 'Hazel Walters',
 'Bruce Morton',
 'Keith Fowler',
 'Marjorie Pope',
 'Andrea Oakley',
 'Stephanie Pruitt',
 'Peter McConnell',
 'Andrew Warren',
 'Katharine Bass',
 'Nancy White',
 'Vanessa Winstead',
 'Bernice Stanley',
 'Gordon Lyon',
 'Malcolm Kent',
 'Evan K Bullard',
 'Marlene Abrams',
 'Kathryn Patrick',
 'Eugene Curry',
 'Heather Rich McClure',
 'Michelle Allison',
 'Timothy Currie',
 'William Larson',
 'Katherine Stokes',
 'Herbert Barbour',
 'Sean Garner',
 'Kay Hendricks',
 'Evelyn Blair',
 'Eva Silverman',
 'Joel Huffman',
 'Charlie Moore',
 'Dana Desai',
 'Doris Fitzpatrick',
 'Alexandra Wise',
 'Beverly Barnett',
 'Vickie Morse',
 'Randall Bynum',
 'Gretchen Ball',
 'Lindsay P Ashley',
 'Alison Peters Wooten',
 'Tamara Cowan',
 'Clara Hauser',
 'Daniel Jones',
 'Shawn Adler',
 'Cathy Weber',
 'Lynda Martinez',
 'Ricky Kaufman',
 'Steven Herring',
 'Brett Schultz',
 'Robert Cowan',
 'Howard Rogers',
 'Heather Stern',
 'Hazel Khan',
 'Jenny Petty',
 'Terry Klein',
 'Ricky Whitley',
 'Scott McKenna',
 'Alan Griffith',
 'Eddie Riggs',
 'Patsy Kane Gardner',
 'Gene Harper Herring',
 'Juan Justice',
 'Gretchen Wiggins',
 'Christopher Bryant',
 'Brooke Shepherd',
 'Lois Rowland',
 'Neal Wolfe',
 'Jan Cross',
 'Phillip Wright',
 'Jessie Pugh',
 'Robin High',
 "Steve O'Brien",
 'Roger Meyer',
 'Leah Clapp',
 'Ann Katz',
 'Stacy Briggs',
 'Meredith B Sherrill',
 'Emma Hayes',
 'Derek McCormick',
 'Laurence Martinez Rodriguez',
 'Marjorie Arthur',
 'Emma Leach',
 'Hilda Bennett',
 'Denise Chapman',
 'Miriam Mueller',
 'Emily Sims',
 'Allison Kirby',
 'Amy Shea',
 'Lewis Baldwin',
 'Brian Leach',
 'Paula Joyce Browning',
 'Albert Frost',
 'Dolores Sigmon',
 'Kerry Small',
 'Edward McKenzie',
 'Katie Dougherty',
 'Laurence Poe',
 'Allison Cooke',
 'Seth Merrill',
 'Norman Burnette',
 'Pamela Levin',
 'Ashley Reese',
 'Tommy Honeycutt',
 'Alicia Curtis',
 'Richard McClure',
 'Cecil Bray Bush',
 'Alison Jacobson',
 'Johnny Reid',
 'Adam G Sawyer',
 'Nelson Hensley',
 'Jenny Gold',
 'Joseph Grossman',
 'Christine Gardner',
 "Kelly O'Connor",
 'Victor Knox',
 'Leo Jennings',
 'Laura Lyon',
 'Patrick Reilly',
 'William Raynor',
 'Marianne Sutton',
 'Benjamin Creech',
 'Glen Denton',
 'Pam Anthony',
 'Katie Wood',
 'Cecil Nicholson',
 'Seth Stanton',
 'Norma Kendall',
 'Calvin Strickland',
 'Jimmy Hsu',
 'Stephen Lam',
 'Melvin Duke',
 'Kara Tyler',
 'Beverly Cooke Brooks',
 'April Bond',
 'Elisabeth Joyner',
 'Lindsay Link',
 'Constance Vogel',
 'Toni Mayo',
 'Vickie Monroe',
 'June Herbert',
 'Jamie Combs',
 'James Mercer',
 'Esther Gill Norman',
 'Kristen Wells',
 'Meredith Walters',
 'Danny Vaughn',
 'Peggy Rowe',
 'Herbert Gentry',
 'Sean Pratt',
 'Stacey Hale',
 'Robin Mathews',
 'Joy Maxwell',
 'Mary Page',
 'Lindsay York',
 'Seth Berry',
 'Jordan Wilkinson',
 'David Wrenn',
 'Elisabeth Massey',
 'Helen Lyons',
 'Sandra Howe',
 'Neil Hogan',
 'Bernice F Day',
 'Ben Reid Bland',
 'Stuart Holloway',
 'Judy Kirk',
 'Ruby Goodwin',
 'Jeffrey Mueller',
 'Nathan Lowry Shea',
 'Geraldine Puckett',
 'Deborah Paul',
 'Jean Webster',
 'Erica Bynum',
 'Faye Woods',
 'Holly Love Butler',
 'Zachary Yu',
 'Debra Stone',
 'Marvin Roberson',
 'Elisabeth Thompson',
 'Sarah N Becker',
 'Carlos Byrd',
 'Marshall Riddle',
 'Jason Bray',
 'Kristen Callahan',
 'Laurie Boyd',
 'Calvin Harrison',
 'Samuel Moss',
 'Holly Pate',
 'Vincent Kenney',
 'Amanda Conner',
 'Eileen Riddle',
 'Lee McKenna Gregory',
 'Cheryl Guthrie',
 'Leonard Daly',
 'Marianne Goldstein',
 'Kim Ellington',
 'Ralph Harding',
 'Judy Singer',
 'Edgar McLeod',
 'Ken Woodward',
 'Jesse Atkinson',
 'Brett Sparks',
 'Stanley Lowe',
 'Stacy Wilkinson',
 'Eddie Chandler',
 'Stacy Reddy',
 'Joel Willard',
 'Rhonda Wong',
 'Keith Forbes',
 'Catherine Mullins',
 'Sara Perkins',
 'Christian Albright',
 'Joann Moser',
 'Marvin Hunt',
 'Ronnie Shaffer',
 'Sheryl Marsh',
 'Monica Law Thompson',
 'Douglas Sutton',
 'Lindsay McGuire',
 'Gerald Love',
 'Michael Carr',
 'Mitchell Hubbard',
 'Glen Stein',
 'Gary Walton',
 'Kevin Daly',
 'Cameron Page',
 'Judith Stanton',
 'Jamie Watkins',
 'Eddie Li',
 'Maureen Bradley',
 'Kyle Goodman',
 "Bill O'Neill",
 'Jennifer Brandon',
 'Jesse Hutchinson',
 'Helen H Heller',
 'Virginia Mason Klein',
 'Leah Davenport',
 'Karen Hendricks',
 'Jacob Lanier',
 'Carla S Austin',
 'Mildred Peacock',
 'Arthur Brady',
 'Denise Arthur',
 'Eugene Simmons',
 'Vivian Hodge',
 'Sharon Dickinson',
 'Dana Burgess',
 'Joyce Knowles',
 'Sharon Ellis',
 'Hugh Brock',
 'Sandy Ellington',
 'Robyn Goodwin',
 'Andrew Beard',
 'Erika Fink',
 'Christian Branch',
 'Alan Briggs',
 'Ellen Beck',
 'Jerry Barnes Nelson',
 'Alex Harding',
 'Kristina Grimes',
 'Malcolm Robertson',
 'Betty Barbour',
 'Cindy Hinton',
 'Phyllis Adcock',
 'Elsie G Ferguson',
 'Billie Fowler',
 'Marilyn Baxter',
 'Mike Wilder',
 'Gail Rankin Cole',
 'Gordon Sutherland',
 'Jennifer Siegel',
 'Daniel Sigmon',
 'Harriet Hodges',
 'Jordan Berry',
 'Lester Wilcox',
 'Diane Blanton',
 'Francis Spivey',
 'Rebecca Morrow',
 'Julian Richards',
 'Rachel Casey',
 'Becky Page Cline',
 'Carla Hauser',
 'Marsha P Joyner',
 'Warren Carver',
 'Marianne Cochran',
 'Carol Sherrill',
 'Marion Wilcox',
 'Kerry Jernigan',
 'Tracy Livingston',
 'Jessie Kelly',
 'Dolores Abrams',
 'Dana Heller',
 'Sue Stevenson',
 'Ruth Dudley',
 'Rose Starr',
 'Alvin Frost',
 'Jan Massey',
 'Calvin Conway',
 'Ethel Curry',
 'Norma Hull',
 'Bobby Walker',
 'Mark Puckett',
 'Greg McKinney',
 'Robyn Garner',
 'Kelly Shaw',
 'Jessie Goldberg',
 'Albert Maxwell',
 'Nicole Jacobson',
 'Jackie Neal',
 'Howard Elliott',
 'Stephanie Sun Perry',
 'Denise Parks',
 'Dorothy Buchanan',
 'Rosemary Giles Case',
 'Ernest Oh',
 'Jane Shah',
 'Adam Barton',
 'Josephine Smith',
 'Tony Chandler',
 'Tom Wiley',
 'Brooke M Wood',
 'Sally House',
 'Phillip Chappell',
 'Benjamin Chan',
 'Yvonne Clarke',
 'Virginia Rivera',
 'Martin Page',
 'Jacqueline Chung',
 'Brandon C Yates',
 'Yvonne D McLeod',
 'Joel Abrams',
 'Lynn Payne',
 'Gregory Holden',
 'Victor Godfrey',
 'Herman Pritchard',
 'Francis Evans',
 'Jonathan Higgins',
 'Todd Wiggins',
 'Norman Tyler',
 'Francis Peterson',
 'Howard Burnett',
 'Jacob Archer',
 'Sue Drake',
 'Paul Cooper',
 'Kristin Richmond',
 'Herman Ray',
 'Sidney Matthews',
 'Charlene Zhou',
 'Keith Zhou',
 'Gladys Barnes',
 'Jesse Pennington',
 'Gail Currin',
 'Neal Weber',
 'Lloyd Spencer',
 'Karen Mayo',
 'Phillip Pollard',
 'Charlene Day',
 'Rita Barton',
 'Lynn Bell',
 'Kathleen S Erickson',
 'Jessie Coble',
 'Lloyd Dickson',
 'Wallace Warner',
 'Priscilla Frank',
 'Kristin George',
 'Alexandra Frazier',
 'Denise Sumner',
 'Marion L Fitzgerald',
 'Theresa Winters',
 'Beverly Cameron',
 'Francis Sherrill',
 'Wallace Bridges',
 'Meredith Humphrey',
 'Julie Porter',
 'Helen Poole',
 'Maxine Myers',
 'Glen Newman',
 'Patrick Hendrix',
 'Eugene Kerr',
 'Brian Bennett',
 'Marguerite Rodgers',
 'Christine Wilkerson',
 'Neal Helms',
 'Robert Willis',
 'Sean Sparks',
 'Kent Burton',
 'Jessica Huffman',
 'Jon Hale',
 'Christian Tilley',
 'Mildred Chase',
 'Jerome Burch',
 'Ethel Coley',
 'Erin Ballard',
 'Judy Burnett',
 'Lorraine C Wooten',
 'Gayle Pearson',
 'Mary Gray',
 'Craig S Fletcher',
 'Ronald Goldman Francis',
 'Dennis Barbee Reynolds',
 'George Bowen',
 'Keith R Atkinson',
 'Lewis Herman',
 'Jean Hardy',
 'Adam McKinney',
 'Elaine Bass',
 'Gene Gilliam',
 'Earl Melton',
 'Willie Robinson',
 'Catherine Woodard',
 'Vicki Bond',
 'Stacey Bowers',
 'Erik Barr',
 'Pam Bennett',
 'Hilda Diaz',
 'Marion Owens',
 'Sherry Brantley',
 'Theodore Tyson',
 'Elsie Byers',
 'Jimmy Xu',
 'Colleen Fletcher',
 'Nancy Schwartz Peacock',
 'Joy Park',
 'Hazel Dale',
 'Ted Dunlap',
 'Leon Peele',
 'Jeremy Orr',
 'Jon Padgett',
 'Seth Davies',
 'Joshua Keller',
 'Ron Singh',
 'Roy Briggs',
 'Joseph Allison',
 'Kerry Elliott Parrish',
 'Michele Meadows',
 'Gregory Barefoot',
 'Judy Simpson',
 'Kimberly McCarthy',
 'Jeffrey Pearson',
 'Sidney Bowling',
 'Timothy Ross',
 'Janet Bryant',
 'Maxine Collier Grady',
 'Joanna Keith',
 'Dwight Bishop',
 'Dennis Welch',
 'Kevin Roth',
 'Luis Kerr',
 'Julia Reynolds',
 'Jill Foster',
 'Meredith Bland',
 'Samantha Koch',
 'Jesse Williams Katz',
 'Cecil Berger',
 'Rita Vaughn',
 'Tonya Proctor',
 'Peggy Lanier',
 'Randy Jiang',
 'Arlene Lutz',
 'Ray Grady',
 "Kurt O'Connor",
 'Pam Patton',
 'Stacy Benton',
 'Benjamin Strauss',
 'Michael Robbins',
 'Marjorie Owens',
 'Daniel Webb Stephens',
 'Carmen McPherson',
 'Malcolm Floyd',
 'Stacey Davenport',
 'Miriam Snow',
 'Nancy Bennett',
 'Russell Chan',
 'Phyllis Jacobson',
 'Alvin B Winstead',
 'Jay Shaffer Desai',
 'Eleanor Erickson',
 'Edgar Vogel',
 'Rose Schultz',
 'Edna Huang',
 'Brett Douglas',
 'Molly Branch',
 'Alex Nicholson',
 'Edith Forbes',
 'Jon Stephens',
 'Todd Pennington',
 'Arlene Weeks',
 'Brooke Arnold',
 'Sidney Cherry',
 'Clifford Morrow',
 'Glenn Burnette',
 'Jason L Doyle',
 'Pamela C Kane',
 'Marc Randall',
 'Angela Wooten',
 'Jessie Houston',
 'Floyd Hill Dorsey',
 'Bill Hudson',
 'Kara Capps',
 'Calvin Hutchinson',
 'Vickie Hendricks',
 'Barbara Saunders',
 'Sandy Hunt',
 'Bernard Strauss',
 'Tommy Feldman',
 'Jesse Williamson',
 "Becky O'Brien",
 'Lee Xu',
 'Glenda Herbert',
 'Dale Carroll',
 'Kevin Marks',
 'Dwight Stephenson',
 'Judith Jacobs',
 'John Morse',
 'Ernest McBride',
 'Louis Parrish',
 'Sidney Brewer',
 'Kara Payne',
 'Jan Hubbard Richards',
 'Grace McNeill Hunt',
 'Lester Sykes',
 'Edward Lamm',
 'Beth English',
 'Dianne Kaufman',
 'Faye Wolf',
 'Judy Merritt',
 'Jon Simmons',
 'Dana Jain',
 'Michele Morrow Marsh',
 'Betsy Bean',
 'Debra Proctor',
 'Eileen Fletcher',
 'Jeremy Pratt',
 'Evelyn Meyer',
 'Angela Larson',
 'Billy Perry Browning',
 'Ethel Barton',
 'Sam Graham Christian',
 'Kathy Reese',
 'Vickie Frost',
 'Gladys Wilkinson',
 'Marcia Bernstein Horn',
 'Larry Spencer',
 'Beverly Leonard',
 'Ken Cash',
 'Elsie Hwang',
 'Hazel Jennings',
 'Patrick Byrne',
 'Joan Hardin',
 'Jim Roberson',
 'Gary Hester',
 ...]

6. try to find out in how many regions we are selling a product and who is a manager for a respective region

In [25]:
UsersDf

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

7. find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset

In [31]:
shipDf= OrdersDf[['Ship Mode','Row ID']].groupby(['Ship Mode']).count().reset_index()
shipDf.rename(columns = {'Row ID':'count'}, inplace = True)

In [33]:
shipDf['Percent'] = shipDf['count'].apply(lambda x: (x/OrdersDf.shape[0]) * 100)

In [34]:
shipDf

        Ship Mode  count    Percent
0  Delivery Truck   1283  13.611288
1     Express Air   1107  11.744112
2     Regular Air   7036  74.644600

8. Create a new coulmn and try to find our a diffrence between order date and shipment date

In [36]:
OrdersDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9426 entries, 0 to 9425
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                9426 non-null   int64
 1   Order Priority        9426 non-null   object
 2   Discount              9426 non-null   float64
 3   Unit Price            9426 non-null   float64
 4   Shipping Cost         9426 non-null   float64
 5   Customer ID           9426 non-null   int64
 6   Customer Name         9426 non-null   object
 7   Ship Mode             9426 non-null   object
 8   Customer Segment      9426 non-null   object
 9   Product Category      9426 non-null   object
 10  Product Sub-Category  9426 non-null   object
 11  Product Container     9426 non-null   object
 12  Product Name          9426 non-null   object
 13  Product Base Margin   9354 non-null   float64
 14  Region                9426 non-null   object
 15  State or Province     9426 non-null   object
 16  City                  9426 non-null   object
 17  Postal Code           9426 non-null   int64
 18  Order Date            9426 non-null   datetime64[ns]
 19  Ship Date             9426 non-null   datetime64[ns]
 20  Profit                9426 non-null   float64
 21  Quantity ordered new  9426 non-null   int64
 22  Sales                 9426 non-null   float64
 23  Order ID              9426 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(11)
memory usage: 1.7+ MB

In [37]:
OrdersDf['Difference'] = OrdersDf['Ship Date'] - OrdersDf['Order Date']

In [38]:
OrdersDf[['Order Date','Ship Date','Difference']]

     Order Date  Ship Date Difference
0    2012-05-28 2012-05-30     2 days
1    2010-07-07 2010-07-08     1 days
2    2011-07-27 2011-07-28     1 days
3    2011-07-27 2011-07-28     1 days
4    2011-07-27 2011-07-27     0 days
...         ...        ...        ...
9421 2013-05-14 2013-05-15     1 days
9422 2013-05-14 2013-05-14     0 days
9423 2013-09-12 2013-09-14     2 days
9424 2010-02-08 2010-02-11     3 days
9425 2013-09-12 2013-09-14     2 days

[9426 rows x 3 columns]

9 . base on question number 8 find out for which order id we have shipment duration more than 10 days

In [46]:
OrdersDf[OrdersDf['Difference'] > pd.Timedelta(days=10)][['Order ID','Difference']]

      Order ID Difference
643      87215    84 days
1548     86318    11 days
1549     86318    15 days
1678     87957    17 days
1679     87957    11 days
1680     87957    28 days
1697     19556    17 days
1698     19556    11 days
1699     19556    28 days
2515     86177    92 days
5548     88223    14 days
5673     88352    17 days
5859     87572    22 days
5881     91294    24 days
8607     86434    18 days
8609     86436    17 days
8610     86436    19 days
8973     87300    19 days
8982     19841    27 days
8983     19841    31 days
8993     19841    19 days
8996     87300    27 days
8997     87300    31 days

10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well

In [48]:
OrdDf = pd.merge(OrdersDf,returnsDf,on ='Order ID')
OrdMgrDf = pd.merge(OrdDf,UsersDf, on = 'Region')

In [49]:
OrdMgrDf[OrdMgrDf['Difference'] >  pd.Timedelta(days=15) ][['Order ID','Order Date','Ship Date','Difference','Region','Manager']]

Empty DataFrame
Columns: [Order ID, Order Date, Ship Date, Difference, Region, Manager]
Index: []

11. Gorup by region and find out which region is more profitable

In [54]:
OrdersDf[['Region','Profit']].groupby(['Region']).aggregate({'Profit':'sum'}).reset_index().sort_values('Profit', ascending=False).head(1)

    Region         Profit
0  Central  519825.567067

12. Try to find out overalll in which country we are giving more didscount

In [56]:
OrdersDf[['State or Province','Discount']].groupby(['State or Province']).aggregate({'Discount':'sum'}).reset_index().sort_values('Discount',ascending=False)

       State or Province  Discount
3             California     52.28
41                 Texas     31.36
11              Illinois     29.71
30              New York     28.86
8                Florida     26.38
33                  Ohio     19.71
45            Washington     15.48
20              Michigan     15.29
36          Pennsylvania     13.32
21             Minnesota     12.52
12               Indiana     12.22
31        North Carolina     12.02
19         Massachusetts     11.22
44              Virginia      9.80
9                Georgia      9.79
18              Maryland      8.85
28            New Jersey      8.73
40             Tennessee      8.55
35                Oregon      8.42
23              Missouri      8.09
47             Wisconsin      8.06
4               Colorado      8.05
42                  Utah      7.67
13                  Iowa      7.15
14                Kansas      6.89
1                Arizona      6.86
17                 Maine      6.66
0                Alabama      5.87
2               Arkansas      5.80
10                 Idaho      5.57
38        South Carolina      5.34
34              Oklahoma      5.17
16             Louisiana      4.86
5            Connecticut      4.28
15              Kentucky      4.23
29            New Mexico      4.08
22           Mississippi      3.89
25              Nebraska      3.59
43               Vermont      3.19
7   District of Columbia      3.10
27         New Hampshire      2.62
24               Montana      2.39
46         West Virginia      2.16
26                Nevada      1.80
32          North Dakota      1.71
39          South Dakota      1.30
48               Wyoming      1.15
37          Rhode Island      1.09
6               Delaware      0.66

13. Give me a list of unique postal code

In [58]:
list(OrdersDf['Postal Code'].unique())

[60101,
 98221,
 91776,
 95123,
 2724,
 3110,
 8101,
 8109,
 7203,
 2907,
 55372,
 11787,
 13210,
 59405,
 59601,
 59801,
 68005,
 10012,
 92653,
 92677,
 92530,
 92630,
 90712,
 93534,
 90260,
 97405,
 97526,
 97030,
 97123,
 97303,
 62002,
 98373,
 98052,
 75019,
 23834,
 62701,
 60107,
 60477,
 14150,
 12180,
 77642,
 75080,
 77471,
 78664,
 75088,
 24153,
 94043,
 92563,
 94559,
 10177,
 2917,
 5401,
 4070,
 2331,
 8830,
 8701,
 7470,
 7481,
 5201,
 97035,
 44708,
 45231,
 44105,
 95687,
 5451,
 94591,
 70056,
 22102,
 60601,
 66209,
 66215,
 66502,
 66062,
 6510,
 4401,
 4005,
 2129,
 2038,
 1852,
 1752,
 2067,
 3820,
 8618,
 7644,
 7110,
 8861,
 7095,
 2895,
 97128,
 97504,
 98103,
 84118,
 84041,
 93277,
 76903,
 78207,
 60004,
 94952,
 1510,
 1106,
 1880,
 6401,
 6360,
 2664,
 15122,
 76148,
 5439,
 5403,
 37664,
 37918,
 37086,
 37087,
 80525,
 80817,
 60452,
 76131,
 98059,
 99352,
 37804,
 70802,
 4092,
 7024,
 76240,
 98158,
 78415,
 94122,
 4011,
 4240,
 2474,
 2540,
 1580,
 3038,
 60505,
 84043,
 84321,
 66212,
 48138,
 85335,
 74006,
 75217,
 77536,
 90660,
 13501,
 11580,
 63114,
 84044,
 84047,
 84107,
 60453,
 2021,
 2766,
 7101,
 28227,
 60302,
 60462,
 50208,
 80027,
 66203,
 81503,
 80634,
 37922,
 38109,
 55423,
 55901,
 55113,
 80126,
 80232,
 17331,
 33772,
 87505,
 12208,
 44106,
 43229,
 78589,
 86001,
 85234,
 85301,
 30297,
 28204,
 6824,
 6111,
 6226,
 7109,
 66614,
 67212,
 80538,
 80233,
 80134,
 6830,
 6770,
 6855,
 4073,
 1069,
 2725,
 21234,
 21128,
 21208,
 20854,
 98115,
 91945,
 94404,
 60130,
 1007,
 7111,
 8052,
 21133,
 60510,
 3045,
 7410,
 97045,
 97206,
 44221,
 6478,
 33181,
 4101,
 3246,
 3101,
 7010,
 2878,
 33132,
 13601,
 85338,
 86401,
 19406,
 93727,
 4072,
 7628,
 7071,
 2816,
 2910,
 2886,
 94601,
 2149,
 1840,
 48234,
 37814,
 62223,
 61008,
 61701,
 60440,
 19026,
 68025,
 68801,
 68847,
 68502,
 48509,
 63105,
 13021,
 13905,
 28001,
 45406,
 43015,
 95240,
 90805,
 4901,
 8360,
 78666,
 7026,
 93405,
 94403,
 2358,
 7201,
 7032,
 7666,
 68104,
 89701,
 94583,
 92704,
 6010,
 6108,
 4330,
 1462,
 2370,
 7047,
 7480,
 61801,
 68701,
 56301,
 94024,
 93635,
 95032,
 90266,
 1923,
 2457,
 3054,
 8332,
 90069,
 92683,
 90604,
 2019,
 1915,
 2341,
 7506,
 8601,
 30318,
 1845,
 39180,
 11704,
 11795,
 60543,
 95020,
 4106,
 2062,
 7042,
 10154,
 24281,
 37130,
 84404,
 84057,
 55416,
 46041,
 42104,
 41011,
 95336,
 4038,
 2148,
 8753,
 76067,
 11226,
 97756,
 85204,
 85737,
 84062,
 64064,
 63043,
 22025,
 60061,
 93101,
 95051,
 26501,
 88201,
 78155,
 75090,
 90008,
 68046,
 84604,
 60067,
 60068,
 60087,
 60185,
 75081,
 60187,
 60090,
 39701,
 89015,
 61554,
 61604,
 91767,
 6415,
 4210,
 2032,
 1801,
 3301,
 8021,
 7031,
 7054,
 60091,
 60517,
 46016,
 47401,
 46032,
 47201,
 21136,
 81001,
 90045,
 14224,
 10605,
 10701,
 97301,
 97477,
 97224,
 81007,
 48195,
 5701,
 43952,
 20852,
 20602,
 55106,
 55378,
 95062,
 93454,
 98119,
 60544,
 62301,
 55379,
 60089,
 89115,
 91730,
 2116,
 1540,
 77373,
 37211,
 75203,
 52501,
 64133,
 63301,
 64506,
 98387,
 99207,
 98408,
 77478,
 63116,
 63376,
 80229,
 80030,
 46307,
 46312,
 98105,
 90041,
 90405,
 95404,
 95070,
 6040,
 6460,
 6850,
 6702,
 1520,
 2152,
 7067,
 2840,
 48841,
 89031,
 89041,
 41042,
 6614,
 1803,
 1420,
 1089,
 2190,
 3053,
 3079,
 7003,
 7016,
 7039,
 8232,
 7901,
 85345,
 85023,
 60423,
 40324,
 86301,
 86314,
 97062,
 61201,
 98661,
 14215,
 61107,
 97068,
 18103,
 16602,
 72143,
 92054,
 6033,
 6484,
 6437,
 92691,
 95351,
 6512,
 7001,
 73064,
 27502,
 84067,
 29915,
 84106,
 32168,
 37830,
 42420,
 85254,
 8046,
 99362,
 37167,
 37174,
 79605,
 75002,
 79109,
 71854,
 80033,
 21222,
 6511,
 8002,
 91745,
 93117,
 6114,
 2210,
 1450,
 1060,
 3839,
 92544,
 92345,
 6405,
 6810,
 6492,
 75503,
 77590,
 46514,
 55126,
 89502,
 66202,
 11575,
 85635,
 93422,
 20746,
 76017,
 78745,
 77520,
 77705,
 76021,
 89431,
 20024,
 83616,
 76201,
 33430,
 10039,
 1887,
 7652,
 42240,
 26003,
 78521,
 77803,
 76028,
 96003,
 92374,
 1463,
 7008,
 8857,
 7050,
 7501,
 90278,
 6776,
 2127,
 1605,
 7002,
 2914,
 90049,
 75482,
 75067,
 19901,
 19711,
 94061,
 60610,
 6105,
 2108,
 3842,
 92503,
 95677,
 2339,
 1841,
 7079,
 91761,
 1718,
 1701,
 1040,
 2151,
 7650,
 93030,
 3431,
 7601,
 7450,
 11720,
 60459,
 7712,
 72022,
 28806,
 27217,
 27511,
 66762,
 55125,
 15221,
 11722,
 14225,
 11725,
 27514,
 28205,
 28027,
 27707,
 43017,
 15102,
 95695,
 95991,
 92399,
 90004,
 6473,
 2109,
 7030,
 85351,
 85374,
 3060,
 2864,
 11727,
 10573,
 60409,
 62901,
 18018,
 60441,
 60174,
 60193,
 60076,
 11729,
 11746,
 8816,
 8817,
 7646,
 65721,
 10282,
 18040,
 75220,
 77566,
 75146,
 78041,
 77573,
 80004,
 85281,
 85705,
 85364,
 72714,
 72015,
 92592,
 95661,
 75116,
 78852,
 78539,
 2118,
 79907,
 76039,
 75234,
 60188,
 75056,
 77381,
 75701,
 77901,
 76706,
 75165,
 76086,
 6611,
 1821,
 1056,
 1075,
 7801,
 90640,
 1876,
 7086,
 3801,
 7407,
 8226,
 7070,
 19805,
 32701,
 2040,
 10280,
 27237,
 84660,
 84663,
 35756,
 92646,
 90301,
 6050,
 6790,
 20016,
 34142,
 1108,
 1776,
 7843,
 2920,
 32712,
 46806,
 46404,
 46530,
 97420,
 19013,
 2112,
 1906,
 2451,
 7052,
 2861,
 19140,
 98801,
 75028,
 76106,
 75007,
 75104,
 78613,
 36830,
 35020,
 78641,
 10009,
 75057,
 60110,
 61821,
 77530,
 76031,
 80013,
 80303,
 40422,
 80020,
 80104,
 80906,
 73521,
 33433,
 33437,
 34210,
 91941,
 1930,
 8401,
 7097,
 46142,
 46324,
 47591,
 19134,
 15241,
 6320,
 47274,
 1749,
 2153,
 33180,
 75601,
 84074,
 98902,
 25314,
 82604,
 84084,
 84120,
 60623,
 11554,
 90058,
 80022,
 80219,
 77840,
 2478,
 1453,
 2744,
 8302,
 8028,
 7940,
 62234,
 10170,
 17201,
 77546,
 33511,
 33063,
 33055,
 78596,
 76308,
 52761,
 48101,
 32707,
 79424,
 75901,
 76063,
 75098,
 95207,
 6408,
 2703,
 1832,
 22304,
 46342,
 46203,
 94025,
 94086,
 91360,
 1027,
 1867,
 8863,
 60653,
 48104,
 49017,
 48708,
 84003,
 92553,
 95037,
 2113,
 47130,
 46901,
 47905,
 28031,
 44112,
 80112,
 21146,
 20901,
 44035,
 44117,
 65807,
 63130,
 63135,
 16509,
 17112,
 96150,
 6795,
 2638,
 8901,
 97801,
 29687,
 46226,
 46952,
 46410,
 68601,
 84010,
 84015,
 43081,
 44145,
 44691,
 82001,
 82716,
 33134,
 53110,
 60016,
 60516,
 46360,
 10045,
 94044,
 32137,
 59901,
 14901,
 33065,
 60478,
 46544,
 47302,
 47150,
 62205,
 6488,
 6710,
 1545,
 2072,
 55305,
 35211,
 35601,
 27288,
 92262,
 63385,
 92253,
 78363,
 33314,
 32114,
 46060,
 46368,
 47374,
 39530,
 39056,
 38701,
 39503,
 22003,
 22204,
 24060,
 78501,
 75150,
 33441,
 32720,
 60123,
 45385,
 28314,
 28307,
 6607,
 77571,
 63044,
 44094,
 44511,
 25705,
 82070,
 68901,
 20601,
 11598,
 11010,
 11520,
 95823,
 93905,
 2445,
 1748,
 45324,
 46322,
 97601,
 17602,
 46375,
 11542,
 10528,
 37743,
 74012,
 77095,
 39401,
 38637,
 39212,
 92404,
 94070,
 6901,
 11714,
 60098,
 27203,
 98072,
 90503,
 15131,
 33403,
 33445,
 22015,
 22901,
 23320,
 67114,
 25801,
 45014,
 45840,
 60611,
 77301,
 60007,
 20190,
 72701,
 72903,
 71901,
 19057,
 39301,
 44118,
 19464,
 30062,
 30907,
 30265,
 49534,
 27529,
 35473,
 72401,
 72209,
 92037,
 43026,
 45424,
 44240,
 45429,
 83843,
 88310,
 20012,
 11550,
 28052,
 27534,
 27405,
 27834,
 75034,
 30305,
 73034,
 73703,
 73505,
 73110,
 90036,
 79701,
 95376,
 1607,
 32725,
 34698,
 63141,
 60126,
 60201,
 61032,
 32780,
 46614,
 47802,
 46383,
 47906,
 50010,
 92672,
 92105,
 1945,
 30188,
 59102,
 61401,
 60137,
 94110,
 50021,
 52722,
 63119,
 26101,
 36330,
 90032,
 38654,
 39208,
 48187,
 49236,
 48126,
 48127,
 33178,
 11801,
 52601,
 50613,
 52402,
 15146,
 38671,
 1810,
 2334,
 1469,
 43230,
 1886,
 11741,
 35630,
 92008,
 6443,
 2110,
 1826,
 2035,
 2169,
 1550,
 1570,
 7080,
 7090,
 2808,
 87105,
 94306,
 22193,
 24541,
 ...]

14 . which customer segement is more profitalble find it out .

In [60]:
OrdersDf[['Customer Segment','Profit']].groupby(['Customer Segment']).aggregate({'Profit':'sum'}).reset_index().sort_values('Profit',ascending = False).head(1)

  Customer Segment         Profit
1        Corporate  505538.627783

15. try to find out the 10th most loss making product catagory .

In [62]:
OrdersDf[['Product Category','Profit']].groupby(['Product Category']).aggregate({'Profit':'sum'}).reset_index().sort_values('Profit',ascending=True).head(10)

  Product Category         Profit
0        Furniture  177354.298188
1  Office Supplies  451990.216492
2       Technology  683097.884748

16. Try to find out 10 top  product with highest margins

In [64]:
OrdersDf.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'Difference'],
      dtype='object')

In [69]:
OrdersDf[['Product Name','Product Base Margin']].groupby(['Product Name']).aggregate({'Product Base Margin':'sum'}).reset_index().sort_values('Product Base Margin',ascending=False).head(10)

                                           Product Name  Product Base Margin
557           Global High-Back Leather Tilter, Burgundy                19.98
291   BoxOffice By Design Rectangular and Half-Moon ...                18.33
260                     Bevis 36 x 72 Conference Tables                16.38
142                Adesso Programmable 142-Key Keyboard                15.45
95                                          Accessory36                14.11
824   Office Star - Mid Back Dual function Ergonomic...                13.64
822   Office Star - Contemporary Task Swivel chair w...                13.26
761                         Microsoft Internet Keyboard                13.21
1001                                       StarTAC 7760                12.98
258                        Bell Sonecor JB700 Caller ID                12.60